body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    background-color: black;
    padding: 0px;
    margin-right: 22px;
    margin-bottom: 50px;
    font-size: 14px; /* Default font size for above 430px */
}

@media only screen and (max-width: 430px) {
    .card {
        margin-bottom: 25px;
        margin-right: 10px;
        font-size: 12px; /* Font size for 430px and below */
    }
}

.card .card-img-top {
    height: 290px;
}

@media only screen and (max-width: 430px) {
    .card .card-img-top {
        height: 200px;
    }
}

.card .card-body{
    padding: 0px;
    margin: 6px;
}

.text-dec{
    color: white; /* Set desired link color */
    text-decoration: none; /* Remove underline */
}

.text-dec:hover {
    color: white; /* Set desired link color */
    text-decoration: underline; /* Underline on hover */
}

.textmuted{
    color: #ccc9c9;
    font-size: 15px;
}

