body {
    background-color: black;
}

.text-dec{
    color: white; /* Set desired link color */
    text-decoration: none; /* Remove underline */
}

.text-dec:hover {
    color: white; /* Set desired link color */
    text-decoration: underline; /* Underline on hover */
}

.cards-cont{
    align-items: start;
}

.card {
    background-color: black; /* Set card background to black */
    color: white; /* Ensure text color is white for visibility */
    margin-bottom: 20px;
}

.card-img-top {
    height: 15rem; /* Set a fixed height for images */
    object-fit: cover; /* Ensures images cover the area */
}

.text-card{
    margin-top: 5px;
}

.txt-data{
    color: rgb(177, 177, 177);
    font-weight: 500;
}

.d-flex {
    display: flex;
    align-items: center; /* Vertically center the items */
}

.mr-2 {
    margin-right: 10px; /* Space between text and image */
}

.text-black {
    color: black;
}

.text-red {
    color: red;
}

.bg-svdm{
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}

.text-orange{
    background-color: rgb(48, 47, 47);
    color: orange;
}

.hero-p{
    color: rgb(143, 140, 140);
    margin-top: 20px;
}

.video-card{
    align-items: center;
}